name: Makefile CI

on:
  push:
    tags:
        - "*"
    branches: [ "1.1" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install glfw
      run: sudo apt install -y libglfw3

    - name: build
      run: make build

    - name: Push build to dist branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: dist
        FOLDER: dist
        GITHUB_TOKEN: ${{ secrets.PAT_CONTENT_W }}
        MESSAGE: "Build: ({sha}) {msg}"
