name: Application Build & Deployment

on:
  push:
    branches: [ "1.1" ]

permissions:
  contents: write

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install glfw and tar
      run: sudo apt install -y libglfw3-dev tar

    - name: build
      run: make build

    - name: Create tarball
      run: |
        tar -acvf ./build/application-linux.tar.gz ./build/linux/*
        mv ./build/application-linux.tar.gz ./L.artifact

    - name: Store Linux build
      uses: actions/upload-artifact@v4
      with:
        name: linux-build
        path: ./L.artifact

  windows-build_x86:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Config MSYS2 for UCRT64
      uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: >-
          make
          gcc
          zip

    - name: Build
      shell: msys2 {0}
      run: |
        make build BITWISE_GLFW=True
      
    - name: Compress build into zip archive
      shell: msys2 {0}
      run: |
        zip -r ./build/application-windows.zip ./build/windows/*
        mv ./build/application-windows.zip ./W.artifact
    
    - name: Store Windows build
      uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: ./W.artifact
  
  deployement:
    runs-on: ubuntu-latest
    needs: [ windows-build_x86, linux-build ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get linux tarball
        uses: actions/download-artifact@v4
        with:
          name: linux-build
          path: ./application-linux.tar.gz

      - name: Get windows zip archive
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: ./application-windows.zip


      - name: Install tree
        run: sudo apt install -y tree

      - name: Create release body
        run: |
          echo "# test release" > body.md
          ls -l
          tree

      - name: Create the release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./application-windows.zip,./application-linux.tar.gz"
          bodyFile: "body.md"
          tag: "v${sha}"