name: Makefile CI

on:
  push:
    tags:
        - "*"
    branches: [ "1.1" ]

permissions:
  contents: write

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install glfw
      run: sudo apt install -y libglfw3-dev

    - name: build
      run: make build

    - name: Push build to dist branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: dist
        FOLDER: build
        GITHUB_TOKEN: ${{ secrets.PAT_CONTENT_W }}
        MESSAGE: "Build: ({sha}) {msg}"

  windows-build_x86:
    runs-on: windows-latest
    needs: linux-build
    steps:
    - uses: actions/checkout@v4

    - uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        update: true
        install: >-
          make

    - shell: msys2 {0}
      run: |
        make build BITWISE_GLFW=True
    
    - name: Push build to dist branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: dist
        FOLDER: build
        GITHUB_TOKEN: ${{ secrets.PAT_CONTENT_W }}
        MESSAGE: "Build: ({sha}) {msg}"